<?xml version="1.0" encoding="utf-8"?>
<ApplicationInsights xmlns="http://schemas.microsoft.com/ApplicationInsights/2013/Settings">
  <!--<InstrumentationKey>a4940eb9-fa58-4014-a610-88d801aeed3b</InstrumentationKey> --><!-- yanmingtestowin -->
  <InstrumentationKey>d924cab5-8a59-4371-8c3a-4fc2fad11484</InstrumentationKey> <!-- yanmingtestpurejs -->
  <TelemetryInitializers>
		<Add Type="Microsoft.ApplicationInsights.ServiceFabric.FabricTelemetryInitializer, Microsoft.AI.ServiceFabric"/>
	</TelemetryInitializers>
	<TelemetryModules>
		<Add Type="Microsoft.ApplicationInsights.ServiceFabric.Module.ServiceRemotingRequestTrackingTelemetryModule, Microsoft.AI.ServiceFabric.Native"/>
		<Add Type="Microsoft.ApplicationInsights.ServiceFabric.Module.ServiceRemotingDependencyTrackingTelemetryModule, Microsoft.AI.ServiceFabric.Native"/>
	</TelemetryModules>
</ApplicationInsights>